html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

#canvas {
  height: 250px !important;
  width: 250px !important;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-center{
  text-align: center;
}